.vscode
.vector_cache
conll2003*
__pycache__
*.log
tmp
datasets
nohup.out
*.json
!config/fuzzy.json
!config/hard.json
!config/lample.json
!config/dictionary/fuzzy.json
!config/dictionary/hard.json
!config/dictionary/simple.json